body{
    background: #eee;
  }
  .ch_pass_container * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .ch_pass_container {
    width: 80%;
    height: fit-content;
    margin: 0px 10%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  .ch_header {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid gray;
  }
  .ch_pass_container form {
    width: 40%;
    height: 400px;
    padding: 10px;
    margin-top: 20px;
  }
  .cur_pass, .n_pass, .re_n_pass {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    padding-top: 25px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    font-size: 16px;
  }
  .sub_btn {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    background-color: #5C6A8D;
    outline: none;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
  }
  .sub_btn:hover {
    background: #2E4566;
    transition: 0.5s;
  }
  .container{
    width: 80%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 0px;
    padding: 15px;
    margin: 20px auto;
  }
  .container_header{
    background-color: #3f51b5;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin-bottom: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 7px 15px #3f51b5;
  }
  .container_header h2{
    display: inline;
    color: #fff;
    font-size: 20px;
  }
  .container_header a{
    float: right;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
  }
  .container_header a:hover{
    position: relative;
    left: 3px;
  }
  .products{
    width: 220px;
    height: 45vh;
    padding: 0px 0px 10px 10px;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
  }
  .products:hover{
    box-shadow: 5px -5px 10px 3px #222;
  }
  .products img{
    width: 100%;
    height: 70%;
    border-radius: 5px;
  }
  .products h3{
    font-weight: bold;
    margin: 4px 0px;
  }
  